.panelDesc {
	overflow-wrap: break-word;
}

.panelTitle {
	overflow-wrap: break-word;
	display: block;
	overflow: hidden;
}

.tags {
	margin-right: 3px;
}

img {
	width: 100%;
	max-height: 200px;
	object-fit: contain;
}