.panelDesc {
	overflow-wrap: break-word;
}

.panelTitle {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
}

.tags {
	margin-right: 3px;
}

/*Video*/
video {
	width: 50%    !important;
	height: auto   !important;
}

.pieceComplete {
	background-color: blue;
}
.piecePartial {
	background-color: orange;
}
.pieceChecking {
	background-color: yellow;
}
.pieceNone {
	background-color: gray;
}