<link rel="stylesheet" href="../css/content.css">

<div class="container-fluid">
	<div class="page-header">
		<h1>Content <small></small></h1>
		<h3 class="panelTitle">
			Title: {{content.title}} <br />
		</3>
	</div>
	<video controls>
		
	</video>
	<br />
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Panel title</h3>
		</div>
		<div class="panel-body">
			<p class="panelDesc">
				Description: {{content.longdesc}}
			</p>
			<hr />
			<p class="panelDesc">
				Created: {{content.creationtime}}
			</p>
			<hr />
			<p class="panelDesc">
				Tags:
				<span ng-repeat="x in content.tags.tags" class="label label-default tags">
					{{x}}
				</span>
			</p>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-sm-12">
			<div class="table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th width="50%">File Name</th>
							<th width="30%">Size</th>
							<th width="20%">Checksum</th>
						</tr>
					</thead>
				</table>
				<div class="bodycontainer scrollable">
					<table class="table table-hover table-striped table-condensed table-scrollable">
						<tbody>
							<tr ng-repeat="x in content.filelist.filelist">
								<td width="50%">{{ x.file }}</td>
								<td width="30%">{{ x.size }}</td>
								<td width="20%">{{ x.checksum }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br />
	<!-- {{contentString}} -->
</div>