<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <!-- Jquery -->
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  <!-- Angular -->
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="../node_modules/angular-route/angular-route.min.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="../css/index.css">

  <!-- HTML -->
  <script src="../html/index.html"></script>
  <script src="../html/mainSearch.html"></script>
  <script src="../html/search.html"></script>
  <script src="../html/torrent.html"></script>
  <script src="../html/profiles.html"></script>

  <!-- Main -->
  <script src="../js/app.js"></script>
  <script src="../js/utils.js"></script>

  <!-- Services -->
  <script src="../js/services/queryServices.js"></script>
  <script src="../js/services/torrentService.js"></script>
  <script src="../js/directives.js"></script>

  <!-- Controllers -->
  <script src="../js/controllers/channelController.js"></script>
  <script src="../js/controllers/contentController.js"></script>
  <script src="../js/controllers/indexController.js"></script>
  <script src="../js/controllers/mainSearchController.js"></script>
  <script src="../js/controllers/profileController.js"></script>
  <script src="../js/controllers/profilesController.js"></script>
  <script src="../js/controllers/settingsController.js"></script>
  <script src="../js/controllers/torrentController.js"></script>

  <!-- Include the latest version of WebTorrent -->
  <!-- <script src="https://cdn.jsdelivr.net/webtorrent/latest/webtorrent.min.js"></script> -->
  <!-- Moment is used to show a human-readable remaining time -->
  <!-- <script src="http://momentjs.com/downloads/moment.min.js"></script> -->
</head>
<body ng-app="CFApp">
  <div ng-controller="indexController">
    <div class="navbar-left">
      <ul class="nav nav-pills nav-invert navCF">
        <li><a href="#!/"><span>Search</span></a></li>
        <li><a href="#!/profiles"><span>Profiles</span></a></li>
        <li><a href="#!/settings"><span>Settings</span></a></li>
        <li><a href="#!/torrent"><span>Torrents</span></a></li>
      </ul>
    </div>
    <div id="container">
      <p>
        Current location is: {{$ctrl}}<brv>
      </p>
      <button class="btn" ng-click="historyBack();">
        History Back: <span class="glyphicon glyphicon-menu-left"></span>  
      </button>
      <button class="btn" ng-click="historyForward();">
        History Forward: <span class="glyphicon glyphicon-menu-right"></span>
      </button>
    </div>
  </div>
  <div id="container">
    <div ng-view></div>
  </div>
</body>
</html>