<div class="container-fluid">
	<div class="page-header">
		<h1>Profile <small>{{username}} ||||||||||||| {{profile}}</small></h1>
		<p>
			{{$parent.constants}}
		</p>
	</div>
	<!-- Profile Channels -->
	<div ng-show="profile.channels.length == 0">
		<p>
			No Channels Found.
		</p>
	</div>
	<div ng-show="profile.channels.length > 0">
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-condensed" style="margin-bottom: 0px;">
						<thead>
							<tr>
								<th width="100%">Channel Name</th>
							</tr>
						</thead>
					</table>
					<div class="bodycontainer scrollable">
						<table class="table table-hover table-striped table-condensed table-scrollable">
							<tbody>
								<tr ng-repeat="x in profile.channels">
									<td width="40%">{{ x.name }}</td>
									<td width="20%" class="text-center">
										<button class="btn btn-sm" ng-click="selectChannel($index)">
											Edit Channel
										</button>
									</td>
									<td width="20%" class="text-center">
										<button class="btn btn-sm" ng-click="editContent($index)">
											Edit Channel Content
										</button>
									</td>
									<td width="20%" class="text-center">
										<button class="btn btn-sm btn-danger" ng-click="removeChannel($index)">
											Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="showSelectedChannel">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="tab == 0 ? 'active' : ''" style="cursor: pointer;">
				<a ng-click="tab = 0">Edit</a>
			</li>
			<li role="presentation" ng-class="tab == 1 ? 'active' : ''" style="cursor: pointer;">
				<a ng-click="tab = 1">Preview</a>
			</li>
			<li role="information" ng-class="tab == 2 ? 'active' : ''" style="cursor: pointer;">
				<a ng-click="tab = 2">Information</a>
			</li>
		</ul>
		<div class="panel panel-default buffer-top" ng-show="tab == 0">
			<div class="panel-heading">
				<div class="panel-title">
					<h3 style="display:inline-block;">Channel Information</h3>
					<button class="pull-right btn" ng-click="showChannelInformation = !showChannelInformation" style="margin-top:20px;" type="button">
						<span ng-hide="showChannelInformation" class="glyphicon glyphicon-menu-down"></span>
						<span ng-hide="!showChannelInformation" class="glyphicon glyphicon-menu-up"></span>
					</button>
				</div>
			</div>
			<div class="panel-body" ng-show="showChannelInformation" ng-init="showChannelInformation = true">
				<form ng-submit="applyChannel()">
					<div class="form-group">
						<label for="title">Title: </label>
						<!-- Cannot update channel title after created -->
						<input class="form-control" type="text" id="title" ng-model="channelCopy.title" ng-disabled="!showCreateChannel" maxlength="{{$parent.constants.titlelength}}">
					</div>
					<div class="form-group">
						<label for="site">Site:</label>
						<input class="form-control" type="text" id="site" ng-model="channelCopy.site" maxlength="{{$parent.constants.urllength}}">
					</div>
					<div class="form-group">
						<label for="longdesc">Long Description:</label>
						<input class="form-control" type="text" id="longdesc" ng-model="channelCopy.longdesc" maxlength="{{$parent.constants.longdesclength}}">
					</div>
					<div class="form-group">
						<label for="shortdesc">Short Description:</label>
						<input class="form-control" type="text" id="shortdesc" ng-model="channelCopy.shortdesc" maxlength="{{$parent.constants.shortdesclength}}">
					</div>
					<div class="form-group">
						<label for="tags">Tags:</label>
						<ul class="list-group" id="tags">
							<li class="list-group-item" ng-repeat="t in channelCopy.tags.tags">
								<div class="row">
									<div class="col-sm-2">
										<span>
											{{t}}
										</span>
									</div>
									<div class="col-sm-2">
										<button class="btn btn-md btn-danger" ng-click="removeTag($index)" type="button">
											Remove Tag
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="row" ng-hide="channelCopy.tags.tags.length === $parent.constants.maxchanneltags">
							{{selectedTag}}
							<div class="col-sm-4">
								<select class="selectpicker" ng-model="selectedTag" data-live-search="true" ng-options="obj.name as obj.name for obj in interfaceDBService.channelTags | filter:filterDupesTags">
									<option value="" selected="selected">Choose a tag to add</option>
								</select>
							</div>
							<div class="col-sm-3">
								<button class="btn btn-md btn-success" ng-click="addTag(selectedTag)" type="button" ng-disabled="selectedTag == null" style="width:100%;">
									Add tag
								</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="playlist">Playlist:</label>
						<p ng-show="channelCopy.playlist.playlists.length == 0">
							No Playlists Set
						</p>
						<ul class="list-group" id="playlist">
							<li class="list-group-item" ng-repeat="p in channelCopy.playlist.playlists">
								<div class="row">
									<div class="col-sm-2">
										<p>
											{{p.title}}
										</p>
									</div>
									<div class="col-sm-2">
										<button class="btn btn-md btn-danger" ng-click="removePlaylist($index)" type="button">
											Remove Playlist
										</button>
									</div>
									<div class="col-sm-5">
										<input id="newPlaylistItemHash{{$index}}" type="text" class="form-control" placeholder="Content hash..." style="display:inline-block;" maxlength="{{$parent.constants.hashlength}}">
									</div>
									<div class="col-sm-3">
										<button class="btn btn-md btn-success" ng-click="addPlaylistItem($index)" type="button">
											Add Content Hash to Playlist
										</button>
									</div>
								</div>
								<div class="row buffer-top" ng-hide="p.playlist.length == 0">
									<div class="col-sm-8">
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="hash in p.playlist track by $index">
												<div class="row buffer">
													<div class="col-sm-6">
														<p>
															{{hash}}
														</p>
													</div>
													<div class="col-sm-2">
														<button class="btn btn-sm btn-danger" ng-click="removePlaylistItem($parent.constants.$index,$infdex)" type="button">
															Remove Playlist
														</button>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
						<div class="row">
							<div class="col-sm-8">
								<input ng-model="newPlaylistName" type="text" class="form-control" placeholder="Playlist name..." maxlength="{{$parent.constants.filenamelength}}">
							</div>
							<div class="col-sm-2">
								<button class="btn btn-default" ng-click="addPlaylist()" type="button">
									Add New Playlist
								</button>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="thumbnail">Thumbnail:</label>
						<br>
						<label class="btn btn-default btn-file" id="thumbnail">
							Add Thumbnail 
							<input type="file" hidden accept="image/*" onchange="angular.element(this).scope().addChannelThumbnail(this)" maxlength="{{$parent.constants.filepathlength}}">
						</label>
					</div>
					<div class="form-group">
						<label for="banner">Banner:</label>
						<br>
						<label class="btn btn-default btn-file" id="banner">
							Add Banner 
							<input type="file" hidden accept="image/*" id="file" onchange="angular.element(this).scope().addChannelBanner(this)" maxlength="{{$parent.constants.filepathlength}}">
						</label>
					</div>
					<div class="form-group">
						<label for="suggestedchannels">Suggested Channels:</label>
						<p ng-show="channelCopy.suggestedchannels.hashlist == 0">
							No Suggested Channels Set
						</p>
						<ul class="list-group" id="suggestedchannels">
							<li class="list-group-item" ng-repeat="s in channelCopy.suggestedchannels.hashlist track by $index">
								<div class="row">
									<div class="col-sm-2">
										<p>
											{{s}}
										</p>
									</div>
									<div class="col-sm-2">
										<button class="btn btn-sm btn-danger" ng-click="removeSuggestedChannel($index)" type="button">
											Remove Suggested Channel
										</button>
									</div>
								</div>
							</li>
						</ul>
						<div class="row">
							<div class="col-sm-8">
								<input ng-model="newSuggestedChannelHash" type="text" class="form-control" placeholder="Channel hash..." maxlength="{{$parent.constants.hashlength}}">
							</div>
							<div class="col-sm-2">
								<button class="btn btn-default" ng-click="addSuggestedChannel()" type="button">
									Add Suggested Channel
								</button>
							</div>
						</div>
					</div>
					<hr />
					<button ng-if="showCreateChannel" type="submit" class="btn btn-success" data-toggle="modal" data-target="#newChannelModal" ng-click="verifyNewChannel()" ng-disabled="channelCopy.title.length === 0">
						Verify New Channel :) YAY!
					</button>
					<button ng-if="!showCreateChannel" type="submit" class="btn btn-success">
						Update Channel :) YAY!
					</button>
				</form>
			</div>
		</div>
		<div ng-show="tab == 1">
			<!-- Channel Page Preview -->
			<div class="panel panel-default buffer-top">
				<div class="panel-heading">
					<div class="panel-title">
						<h3 style="display:inline-block;">Channel Page Preview</h3>
						<button class="pull-right btn" ng-click="showChannelPreview = !showChannelPreview" style="margin-top:20px;">
							<span ng-hide="showChannelPreview" class="glyphicon glyphicon-menu-down"></span>
							<span ng-hide="!showChannelPreview" class="glyphicon glyphicon-menu-up"></span>
						</button>
					</div>
				</div>
				<div class="panel-body" ng-show="showChannelPreview" ng-init="showChannelPreview = true">
					<channel-preview channel="channelCopy"></channel-preview>
				</div>
			</div>
			<!-- Contents Page Preview -->
			<div class="panel panel-default buffer-top" ng-repeat="content in channelCopy.contentlist.contentlist track by $index">
				<div class="panel-heading">
					<div class="panel-title">
						<h3 style="display:inline-block;">Content Information: {{content.title}}</h3>
						<button class="pull-right btn" ng-click="showPreviewContent[$index] = !showPreviewContent[$index]" style="margin-top:20px;">
							<span ng-hide="showPreviewContent[$index]" class="glyphicon glyphicon-menu-down"></span>
							<span ng-hide="!showPreviewContent[$index]" class="glyphicon glyphicon-menu-up"></span>
						</button>
					</div>
				</div>
				<div class="panel-body" ng-show="showPreviewContent[$index]" ng-init="showPreviewContent[$index] = true">
					<content-preview content="content"></content-preview>
				</div>
			</div>
		</div>
		<div class="panel panel-default buffer-top" ng-show="tab == 2">
			<div class="panel-heading">

				<h3 class="panel-title">Channel Block Information</h3>
			</div>
			<div class="panel-body">
				<p class="panelDesc">
					Root Chain ID: {{chanchannelCopynel.rootchain}}
				</p>
				<hr />
				<p class="panelDesc">
					Management Chain ID: {{channelCopy.managechain}}
				</p>
				<p class="panelDesc">
					Management Chain ID: {{channelCopy.contentchain}}
				</p>
				<p class="panelDesc">
					Content Chain ID: {{channelCopy.contentchain}}
				</p>
				<p class="panelDesc">
					LV1 Public Key: {{channelCopy.pubkey1}}
				</p>
				<p class="panelDesc">
					LV2 Public Key: {{channelCopy.pubkey2}}
				</p>
				<p class="panelDesc">
					LV3 Public Key: {{channelCopy.pubkey3}}
				</p>
				<p class="panelDesc">
					Content Signing Key: {{channelCopy.contentkey}}
				</p>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-4">
			<button ng-click="createNewChannel();" class="btn btn-default" type="button">
				Create New Channel
			</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-default" type="button" data-toggle="modal" data-target="#existingChannelModal"
			ng-click="addExistingChannel()">
			Add Existing Channel
		</button>
	</div>
</div>
</div>


<!-- Existing Modal -->
<div class="modal fade" id="existingChannelModal" tabindex="-1" role="dialog" aria-labelledby="existingChannelModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="existingChannelModalLabel" style="display:inline-block;">Add Existing Channel </h3>
		<!-- 			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="pull-right" style="margin-top:20px;">&times;</span>
					</button> -->
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="modal-hash" class="form-control-label">Channel Hash:</label>
							<input type="text" class="form-control" id="modal-hash" ng-model="modalHash" maxlength="{{$parent.constants.hashlength}}">
						</div>
						<div class="form-group">
							<label for="modal-hash-key" class="form-control-label">Channel Private Key:</label>
							<input type="text" class="form-control" id="modal-hash-key" ng-model="modalHashKey" placeholder="Required for secure channels...">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-show="modalExistingVerifiedChannel" ng-click="verifyExistingChannel()">Verify Channel</button>
					<button type="button" class="btn btn-default" ng-show="modalExistingAddChannel" ng-click="addVerifiedExistingChannel()">Add Channel</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal" ng-disabled="modalExistingDisableClose">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- New Channel Modal -->
	<div class="modal fade" id="newChannelModal" tabindex="-1" role="dialog" aria-labelledby="newChannelModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="newChannelModalLabel" style="display:inline-block;">
						{{modalNewChannel ? 'Add New Channel' : 'Add Existing Channel'}}
					</h3>
		<!-- 			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="pull-right" style="margin-top:20px;">&times;</span>
					</button> -->
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<div ng-show="!modalNewVerifiedChannelResult">
								<label for="modal-hash-key" class="form-control-label">
									New Channel will cost: {{modalNewChannelCost}}
								</label>
							</div>
							<div ng-show="modalNewChannelSuccess" class="alert alert-success" role="alert">
								<b>Successfully</b> Added! YAY!
							</div>
							<div ng-show="modalNewVerifiedChannelResult" class="alert alert-danger" role="alert">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error, please resolve:</span>
								{{modalNewVerifiedChannelResult}}
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" 
					ng-show="modalNewVerifiedChannel && !modalNewChannelSuccess"
					ng-click="addVerifiedNewChannel()">
					Finish Adding Channel
				</button>
				<button type="button" class="btn btn-secondary" 
				data-dismiss="modal" 
				ng-disabled="modalNewDisableClose">
				Close
			</button>
		</div>
	</div>
</div>
</div>

<!-- Edit Channel Modal -->
<div class="modal fade" id="newEditChannelModal" tabindex="-1" role="dialog" aria-labelledby="newEditChannelModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="newEditChannelModalLabel" style="display:inline-block;">
					{{modalNewChannel ? 'Add New Channel' : 'Add Existing Channel'}}
				</h3>
		<!-- 			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true" class="pull-right" style="margin-top:20px;">&times;</span>
					</button> -->
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<div ng-show="modalNewChannel">
								<label for="modal-hash-key" class="form-control-label">
									Channel Private Key:
								</label>
								<div class="well well-sm" id="modal-hash-key">
									{{channelCopy.contentkey}}
								</div>
								<small>
									This private key is used to stop random people from posting to this channel.
								</small>
								<p style="color: red;">
									DO NOT LOSE THIS PRIVATE KEY FOR THIS CHANNEL
								</p>
							</div>
							<div class="form-group" ng-show="modalNewChannel && channelCopy.contentkey.length != 0">
								<label for="modal-hash-key-given" class="form-control-label">
									Channel Private Key:
								</label>
								<input class="form-control" type="text" id="modal-hash-key-given" ng-model="modalChannelContentKey">
							</div>
							<div ng-show="modalNewEditVerifiedChannelResult != null" class="alert alert-danger" role="alert">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error:</span>
								{{modalNewEditVerifiedChannelResult}}
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" 
					ng-show="modalNewEditVerifiedChannel" 
					ng-click="modalNewChannel ? addVerifiedNewChannel() : addVerifiedEditChannel()">
					Finish Adding Channel
				</button>
				<button type="button" class="btn btn-secondary" 
				data-dismiss="modal" 
				ng-disabled="modalNewEditDisableClose">
				Close
			</button>
		</div>
	</div>
</div>
</div>